demos/simple
demos/advanced
demos/simple.dxl
demos/advanced.dxl
demos/*.o
demos/*.jar
demos/Simple*
demos/Advanced*

sbcl/foo.c
sbcl/constants.lisp-temp

doc/splash.eps

doc/user.pdf
doc/user.ps
doc/user/

doc/enduser.pdf
doc/enduser.ps
doc/enduser/

doc/reference.pdf
doc/reference.ps
doc/reference/

doc/webreference.texi
doc/webreference.pdf
doc/webreference/
